@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Lobster&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?pywf7e');
  src:  url('../fonts/icomoon.eot?pywf7e#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?pywf7e') format('truetype'),
    url('../fonts/icomoon.woff?pywf7e') format('woff'),
    url('../fonts/icomoon.svg?pywf7e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\f067";
}
.icon-search:before {
  content: "\f002";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-thumb-tack:before {
  content: "\f08d";
}
.icon-phone:before {
  content: "\f095";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-anchor:before {
  content: "\f13d";
}
.icon-sun-o:before {
  content: "\f185";
}
.icon-automobile:before {
  content: "\f1b9";
}
.icon-car:before {
  content: "\f1b9";
}
.icon-cab:before {
  content: "\f1ba";
}
.icon-taxi:before {
  content: "\f1ba";
}
.icon-bus:before {
  content: "\f207";
}
.icon-train:before {
  content: "\f238";
}
.icon-subway:before {
  content: "\f239";
}
.icon-map-signs:before {
  content: "\f277";
}
.icon-map-o:before {
  content: "\f278";
}
.icon-snowflake-o:before {
  content: "\f2dc";
}


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #6cc5a0;
}

h1 {
  font-family: 'Lobster', cursive;
  color: #FFF;
  font-size: 3vw;
  margin: 0;
}

h2 {
  font-family: 'Karla', sans-serif;
  font-size: 36px;
  margin: 0 0 15px;
  padding-bottom: 10px;
  border-bottom: 3px solid #6cc5a0;
}

h3 {
  font-family: 'Karla', sans-serif;
  color: #3368C3;
  font-size: 24px;
  margin: 0 0 5px;
}

header {
  background-color: #3368C3;
  padding: 2vw 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid #fff;
}

.button {
  border: 1px solid #000;
  color: #000;
  display: inline-block;
  padding: 5px 15px;
  cursor: pointer;
  white-space: nowrap;
  margin-bottom: 5px;
}

.button-white {
  border-color: #fff;
  color: #fff;
}

.button-white:hover {
  background-color: #fff;
  color: #3368C3;
}

.button-warning {
  border-color: #B33A3A;
  color: #B33A3A;
}

.button-warning:hover {
  background-color: #B33A3A;
  color: #fff;
}

.button-success {
  border-color: #4BB543;
  color: #4BB543;
}

.button-success:hover {
  background-color: #4BB543;
  color: #fff;
}

#tripList-section {
  padding: 0 2vw;
  margin: 0 auto;
  /* margin: 2vw 0; */
}
.trip {
  background-color: #fff;
  margin: 1vw 0;
  padding: 1vw;
}

.trip .destination {
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.trip .destination:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.trip .destination .dates {
  color: #999;
  font-size: 14px;
}

.trip .destination .data {
  width: 100%;
  padding: 20px;
}

.trip .destination .buttons {
  display: flex;
  flex-direction: column;
}

/* add trip popup */
/* .popup {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup .container {
  width: 80%;
  background-color: #fff;
  padding: 30px;
} */

label {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  color: #3368C3;
  font-size: 20px;
  margin: 0 0 5px;
  margin-right: 5px;
}

#addTrip-section {
  background-color: #fff;
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease-out;
}

#addTrip-section.open {
  max-height: 200px;
}

#addTrip-section .wrapper {
  padding: 20px 2vw;
  display: flex;
  justify-content: space-evenly;
}

#addTrip-section input {
  margin-right: 20px;
}