<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Planer</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Travel Planner</h1>
        <div class="button button-white" id="open-addTrip"><span class="icon-plus"></span> add trip</div>
      </header>
      <section id="addTrip-section">
        <form class="wrapper">
          <div class="tripData">
            <label>Trip Name: </label>
            <input id="tripName-input" autocomplete="off" />
            <label>Destination: </label>
            <input id="destination-input" autocomplete="off" />
          </div>
          <div class="tripDate">
            <label>From: </label>
            <input id="startDate-input" autocomplete="off" />
            <label>To: </label>
            <input id="endDate-input" autocomplete="off" />
          </div>
          <div class="buttons">
            <span class="button button-success icon-plus" id="addTrip"></span>
            <span class="button button-warning icon-remove" id="close-addTrip"></span>
          </div>
        </form>
      </section>
      <section id="tripList-section" role="main">
      </section>
    </div>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>